/* Natua Organic Food Business HTML-5 Template */

/* RTL Style CSS Code */

.rtl .row,
.rtl .d-flex,
.rtl .video-one_overlay {
    flex-direction: row-reverse;
}

.rtl .header-phone_box {
    text-align: right;
    flex-direction: row-reverse;
}

.rtl .main-menu .navigation>li {
    float: right;
}

.rtl .sticky-header .logo {
    float: right;
}

.rtl .main-menu {
    text-align: right;
}

.rtl .main-header .main-menu .navigation>li>ul>li>ul>li,
.rtl .main-header .main-menu .navigation>li>ul>li,
.rtl .main-menu .navigation>li>ul>li {
    text-align: right;
}

.rtl .main-header .main-menu .navigation>li>ul {
    padding: 20px 25px 20px 25px;
}

.rtl .main-header .main-menu .navigation>li>ul>li>a:before {
    right: 0px;
    left: auto;
    opacity: 0;
}

.rtl .main-menu .navigation>li>ul>li:hover>a {
    padding-left: 0px !important;
    padding-right: 30px;
}

.rtl .main-menu .navigation>li>ul>li>a:before {
    left: auto;
    right: 8px;
}

.rtl .main-menu .navigation>li>ul>li.dropdown>a:after {
    right: auto;
    left: 10px;
    transform: rotate(180deg);
}

.rtl .main-menu .navigation>li>ul>li>ul {
    left: auto;
    right: 100%;
}

.rtl .main-menu .navigation li>ul>li.dropdown:hover>ul {}

.rtl .main-header .main-menu .navigation>li>ul>li>ul {
    right: 100%;
    left: auto;
}

.rtl .main-menu .navigation>li>ul {
    left: auto;
    right: 0px;
}

.rtl .main-menu .navigation>li.dropdown:hover>ul {
    left: auto;
    right: 0px;
}

.rtl .main-menu .navigation>li>ul>li>ul>li:hover>a {
    padding-left: 0px;
    padding-right: 30px;
}

.rtl .main-menu .navigation>li>ul>li>ul>li>a:before {
    left: auto;
    right: 8px;
    opacity: 0;
}

.rtl .main-header .main-menu .navigation>li:first-child {
    margin-right: 0px;
}

.rtl .main-header .main-menu .navigation>li:last-child {
    margin-right: 25px;
}

.rtl .search-popup .form-group input[type="text"],
.rtl .search-popup .form-group input[type="search"] {
    text-align: right;
}

.rtl .default-form input,
.rtl .default-form textarea,
.rtl .project-block_one-content,
.rtl .video-one .left-box,
.rtl .modern-one_content,
.rtl .products-one .sec-title,
.rtl .about-sidebar .content-box,
.rtl .support-one_form-outer,
.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button {
    text-align: right;
}

.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button {
    right: 0px;
    left: auto;
}

.rtl .modern-one_image {
    margin-right: 0px;
}

.rtl .feature-block_one-inner {
    padding-left: 0px;
    padding-right: 75px;
}

.rtl .feature-block_one-icon {
    right: 0px;
    left: auto;
}

.rtl .testimonial-block_one-content {
    text-align: right;
    padding-left: 60px;
    padding-right: 345px;
}

.rtl .testimonial-block_one-image {
    left: auto;
    right: 0px;
}

.rtl .testimonial-one .testimonial__nav-pagination {
    text-align: left;
    padding-right: 0px;
    padding-left: 60px;
}

.rtl .support-one_bg-image {
    left: 0px;
    margin-right: -25px;
}

.rtl .email-box_inner {
    padding-left: 0px;
    padding-right: 110px;
}

.rtl .email-box_inner .icon {
    right: 0px;
    left: auto;
}

.rtl .newsletter-box .form-group button {
    left: 3px;
    right: auto;
}

.rtl .news-widget-block {
    padding-left: 0px;
    padding-right: 100px;
}

.rtl .news-widget_image {
    right: 0px;
    left: auto;
}

.rtl .footer-list li a {
    padding-left: 0px;
    padding-right: 28px;
}

.rtl .footer-list li a::before {
    right: 0px;
    left: auto;
}

.rtl .footer-text {
    padding-right: 0px;
    padding-left: 20px;
}

.rtl .footer-contact_list li {
    padding-left: 0px;
    padding-right: 70px;
}

.rtl .footer-contact_list li .icon {
    left: auto;
    right: 0px;
}

.rtl .slider-two_content-inner {
    text-align: right;
    padding: 0px;
}

.rtl .slider-two_counter,
.rtl .news-block_one-more:before,
.rtl .news-block_one-more:after,
.rtl .slider-two_content-inner:before,
.rtl .slider-two_content-inner:after {
    display: none;
}

.rtl .news-block_one-more {
    padding-left: 20px;
}

.rtl .feature-block_two-content {
    text-align: right;
    padding-left: 15px;
    padding-right: 100px;
}

.rtl .feature-block_two-inner:before {
    left: 0px;
    right: 20px;
}

.rtl .feature-block_two-icon {
    left: auto;
    right: 0px;
}

.rtl .main-footer,
.rtl .news-block_one-upper,
.rtl .fluid-one .right-box_inner,
.rtl .newsletter-box .form-group input[type="text"],
.rtl .newsletter-box .form-group input[type="email"] {
    text-align: right;
}

.rtl .post-block .inner-box {
    padding-left: 0px;
    padding-right: 90px;
    text-align: right;
}

.rtl .post-block .inner-box .image {
    left: auto;
    right: 0px;
}

.rtl .search-popup .close-search {
    left: 25px;
    right: auto;
}

.rtl .main-header.header-style-two .header-lower .inner-container {
    padding-right: 0px;
    padding-left: 15px;
}

.rtl .main-header.header-style-two .header-lower .logo-box {
    padding: 0px 15px;
}

.rtl .discount-one_content {
    margin-left: 0px;
    text-align: right;
    margin-right: 30px;
}

.rtl .discount-one_text {
    max-width: 100%;
}

.rtl .discount-box_inner {
    padding-left: 0px;
    text-align: right;
    padding-right: 200px;
}

.rtl .discount-box_price {
    right: 0px;
    left: auto;
}

.rtl .slider-three_content-inner {
    padding: 0px 0px;
    text-align: right;
}

.rtl .modern-two_icon-three,
.rtl .news-block_two-more:before,
.rtl .news-block_two-more:after,
.rtl .slider-three_content-inner:after,
.rtl .slider-three_content-inner:before,
.rtl .news-block_three-more:before,
.rtl .news-block_three-more:after {
    display: none;
}

.rtl .news-block_three-more {
    padding: 10px 20px;
    background-color: var(--main-color);
}

.rtl .service-detail_list li,
.rtl .slider-three .slider-three_button {
    justify-content: end;
}

.rtl .feature-block_four-icon,
.rtl .feature-block_three-icon {
    right: 0px;
    left: auto;
}

.rtl .modern-two .row {
    flex-direction: row;
}

.rtl .feature-block_three-inner {
    text-align: center;
    padding-left: 0px;
    padding-right: 80px;
}

.rtl .feature-block_four-inner {
    text-align: right;
    padding-left: 0px;
    padding-right: 100px;
}

.rtl .fluid-two .outer-container {
    background-image: none !important;
    background-color: var(--color-seven);
}

.rtl .feature-block_five-inner:before {
    border-bottom-color: var(--color-seven);
}

.rtl .fluid-two .left-box {
    text-align: right;
    padding: 100px 60px 100px 15px;
}

.rtl .feature-block_five-content {
    text-align: right;
    padding-left: 0px;
    padding-right: 110px;
}

.rtl .feature-block_five-icon {
    right: 0px;
    left: auto;
}

.rtl .project-detail,
.rtl .service-detail,
.rtl .accordian-outer,
.rtl .faq-one_title-box,
.rtl .blog-detail_content,
.rtl .news-block_three-content,
.rtl .testimonial-block_three-inner,
.rtl .sidebar-widget .widget-content {
    text-align: right;
}

.rtl .blog-detail_list li {
    padding-left: 0px;
    padding-right: 28px;
}

.rtl .comment-box .text {
    max-width: 100%;
}

.rtl .comment-box .comment-reply {
    left: 0px;
    right: auto;
}

.rtl .blog-detail_list li:before {
    right: 0px;
    left: auto;
}

.rtl .blog-detail_meta:before,
.rtl .news-block_three-meta:before {
    width: 110%;
}

.rtl .project-detail_list li:before {
    right: 0px;
    left: auto;
}

.rtl .service-detail .inner-box {
    padding-left: 0px;
}

.rtl .project-detail_list li {
    padding-left: 0px;
    padding-right: 22px;
}

.rtl .service-list li a:before {
    left: 17px;
    right: auto;
}

.rtl .sidebar-widget_title {
    padding-left: 0px;
    padding-right: 35px;
}

.rtl .sidebar-widget_title:before {
    right: 0px;
    left: auto;
}

.rtl .feature-block_six {
    padding-left: 0px;
    padding-right: 80px;
}

.rtl .feature-block_six-icon {
    right: 0px;
    left: auto;
}

.rtl .testimonial-block_three-image {
    left: auto;
    right: 0px;
}

.rtl .testimonial-block_three-inner:before {
    left: auto;
    right: 0px;
}

.rtl .testimonial-block_three-quote {
    left: 0px;
    right: auto;
}

.rtl .testimonial-block_three-content {
    padding-left: 0px;
    padding-right: 90px;
}

.rtl .news-block_two-more {
    padding-left: 20px;
}

.rtl .news-block_two-content {
    text-align: right;
}

.rtl .news-block_two-meta li {
    margin-left: 10px;
    margin-right: 0px;
}

.rtl .welcome-one_title-inner {
    text-align: right;
    padding-left: 40px;
    padding-right: 0px;
}

.rtl .welcome-one_feature {
    padding-left: 170px;
    padding-right: 0px;
}

.rtl .welcome-one_feature-button {
    left: 0px;
    right: auto;
}

.rtl .team-detail_content {
    padding-left: 0px;
    padding-right: 40px;
    text-align: right;
}

.rtl .team-detail .info-box {
    padding-left: 0px;
    padding-right: 75px;
    text-align: right;
}

.rtl .team-detail .info-box .icon {
    left: auto;
    right: 0px;
}

.rtl .shop-detail_content-column .inner-column {
    text-align: right;
    padding-left: 0px;
    padding-right: 30px;
}

.rtl .comment-box .comment {
    text-align: right;
    padding-left: 0px;
    padding-right: 130px;
}

.rtl .comment-box .author-thumb {
    right: 0px;
    left: auto;
}

.rtl .shop-comment-form {
    text-align: right;
}

.rtl .contact-form,
.rtl .coupon-box,
.rtl .register-one,
.rtl .checkout-one .form-column,
.rtl .shop-comment-form .form-group input,
.rtl .shop-comment-form .form-group textarea,
.rtl .shipping-form .form-group input,
.rtl .shipping-form .form-group select,
.rtl .shipping-form .form-group textarea,
.rtl .register-form .form-group input {
    text-align: right;
}

.rtl .coupon-form .form-group button {
    left: 0px;
    right: auto;
}

.rtl .coupon-form .form-group input[type="text"],
.rtl .coupon-form .form-group input[type="search"] {
    text-align: right;
    padding-right: 15px;
}

.rtl .shipping-form .check-box label {
    padding-left: 0px;
    padding-right: 30px;
}

.rtl .shipping-form .check-box label:before {
    left: auto;
    right: 0px;
}

.rtl .sidebar .search-box .form-group input[type="text"],
.rtl .sidebar .search-box .form-group input[type="search"] {
    padding-right: 15px;
    padding-left: 60px;
    text-align: right;
}

.rtl .sidebar .search-box .form-group button {
    left: 0px;
    right: auto;
}

.rtl .post-widget .post {
    padding-left: 0px;
    padding-right: 85px;
}

.rtl .post-widget .post .thumb {
    left: auto;
    right: 0px;
}

.rtl .error-search_box .form-group input[type="text"],
.rtl .error-search_box .form-group input[type="search"] {
    padding-right: 10px;
    padding-left: 50px;
    text-align: right;
}

.rtl .error-search_box .form-group button {
    left: 10px;
    right: auto;
}

.rtl .contact-two .info-column_inner {
    text-align: right;
    padding-right: 0px;
    padding-left: 40px;
}

.rtl .info-box_one-content {
    padding-left: 0px;
    padding-right: 110px;
}

.rtl .info-box_one .icon {
    right: 0px;
    left: auto;
}

.rtl .contact-three_title-outer {
    padding-right: 0px;
    padding-left: 20px;
}

.rtl .contact-form .form-group input[type="text"],
.rtl .contact-form .form-group input[type="password"],
.rtl .contact-form .form-group input[type="tel"],
.rtl .contact-form .form-group input[type="email"],
.rtl .contact-form .form-group textarea {
    text-align: right;
}

.rtl .testimonial-block_one-quote {
    right: auto;
    left: 0px;
}

.rtl .mobile-menu .navigation {
    text-align: right;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn {
    text-align: left;
}

.rtl .main-header .mobile-menu .navigation li.dropdown .dropdown-btn {
    left: 0px;
    right: auto;
    text-align: right;
}

.rtl .main-header .mobile-menu .navigation li.dropdown .dropdown-btn::after {
    display: none;
}

.rtl .main-header.header-style-three .header-lower .inner-container {
    padding-left: 20px;
    padding-right: 0px;
}

.rtl .main-header.header-style-three .header-lower .logo-box {
    padding: 0px 15px;
}

.rtl .header-top_list {
    margin-left: 12px;
}

.rtl .header-top_list li {
    margin-left: 15px;
    margin-right: 0px;
}

/* Natua Organic Food Business Responsive HTML-5 Template */

@media only screen and (max-width: 2000px) {}

@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1650px) {}

@media only screen and (max-width: 1550px) {}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1400px) {
    .rtl .modern-one_icon-two {
        display: none;
    }
    .rtl .video-one_overlay {
        right: 80px;
    }
}

@media only screen and (max-width: 1350px) {
    .rtl .main-header.header-style-three .header-lower .inner-container {
        padding-right: 0px;
        padding-left: 15px;
    }
    .rtl .main-header.header-style-three .header-lower .logo-box {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1300px) {
    .rtl .support-one_form-outer {
        padding: 85px 60px 85px;
    }
}

@media only screen and (max-width: 1240px) {
    .rtl .shop-detail_content-column .inner-column,
    .rtl .team-detail_content {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 1140px) {
    .rtl .testimonial-block_one-content {
        padding-right: 270px;
    }
    .rtl .contact-two .info-column_inner {
        padding-left: 0px;
    }
    .rtl .contact-three_title-outer {
        padding-left: 0px;
    }
    .rtl .discount-one_content {
        margin-right: 0px;
    }
    .rtl .slider-two .swiper-slide {
        padding: 200px 0px 200px;
    }
    .rtl .main-header.header-style-two .header-lower .inner-container {
        padding-left: 0px;
    }
    .rtl .fluid-two .left-box {
        padding-right: 0px;
    }
    .rtl .slider-three_experiance {
        display: none;
    }
    .rtl .modern-two_vector-two {
        display: none;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (max-width: 991px) {
    .rtl .video-one_overlay {
        left: 40px;
        right: 40px;
    }
    .rtl .slider-two .swiper-slide {
        padding: 100px 0px 200px;
    }
    .rtl .slider-two_content-inner {
        max-width: 100%;
    }
    .rtl .modern-two_icon-two {
        left: 10%;
        right: auto;
    }
    .rtl .fluid-two .left-box {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 820px) {
    .rtl .testimonial-block_one-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .rtl .testimonial-block_one-rating {
        text-align: right;
    }
}

@media only screen and (max-width: 767px) {
    .rtl .footer-contact_list li {
        max-width: 100%;
    }
    .rtl .slider-three .swiper-slide {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 599px) {
    .rtl .support-one_form-outer {
        padding: 40px 30px 40px;
    }
    .rtl .email-box_inner {
        padding-right: 0px;
    }
    .rtl .feature-block_two-inner::before {
        right: 0px;
    }
    .rtl .discount-box_inner {
        padding-right: 0px;
    }
    .rtl .email-box_inner .icon {
        position: relative;
        margin-bottom: 20px;
    }
    .rtl .info-box_one-content,
    .rtl .comment-box .comment {
        padding-right: 0px;
    }
    .rtl .info-box_one .icon {
        position: relative;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .rtl .main-header.header-style-two .header-lower .logo-box {
        padding: 0px 10px;
    }
    .rtl .testimonial-block_three-quote {
        display: none;
    }
    .rtl .testimonial-block_one-text {
        font-size: 16px;
        line-height: 28px;
    }
    .rtl .faq-one_title-box h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .rtl .faq-one_title-box .text {
        font-size: 16px;
        line-height: 28px;
    }
}